/* Fonts
font-family: 'Aldrich', sans-serif;
font-family: 'Blinker', sans-serif;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Days One', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Staatliches', cursive;
font-family: 'Work Sans', sans-serif;
font-family: 'Yatra One', cursive;
*/


/* Universal Declartion style starts from here */
*{
	margin:0;
	font-family: 'Work Sans', sans-serif;
}
p{
	color: gray;
}
/*header style starts from here */
header{
	background:#FF900E1A;

}
/*nav style starts from here */
nav{
	padding: 30px 130px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.logo{
	font-size: 26px;
	font-weight: 800;
}
.logo h2{
	font-family: 'Russo One', sans-serif;
}
.logo-t{
	font-family: 'Russo One', sans-serif;
	color: #009246;
	letter-spacing: 2px;
}
.navbar{
	display: flex;
	gap: 30px;
	font-size: 18px;
}
.navbar p{
	padding:0px 3px;
}
.navbar p:hover{
	border-bottom: 3px solid green;
	border-radius: 3px;
	
}
.navbar a{
	text-decoration: none;
	color: black;
}
/* Brand description style starts from here */
.brand-desc{
	padding: 30px 130px;
	text-align: center;
}
.brand-desc h1{
	font-size: 60px;
	padding: 20px 280px;
}
.brand-desc p{
	padding: 0px 140px 30px 140px;
	font-size: 18px;
}
.brand-desc img{
	width: 100%;
}
.primary-btn{
	margin: 0px 0px 30px 0px;
	padding: 15px 25px;
	background: #ff900e;
	color: white;
	border-radius: 5px;
	border: none;
	font-weight: 700;
}
.primary-btn:hover{
	background:teal;
	color: white;
}
/* main style starts from here */
main{
	font-family: 'Work Sans', sans-serif;
}
/* Quick link div style starts from here */
.QL-features{
	padding: 30px 160px;
	display: flex;
	gap: 40px;
}
.features-img{
	width: 60%;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 15px;
}
.features-img img{
	width: 100%;
}
.features-text{
	width: 40%;
	display: flex;
	flex-direction: column;
	gap: 25px;
	justify-content: center;
}
.features-text h2{
	font-size: 45px;
	font-weight: 700;
	font-family: 'Work Sans', sans-serif;
}
.Ftext1{
	color: gray;
	font-size: 40px;
}
.Ftext2{
	color: #FF900E;
}
/* features div style starts from here */
.features-LE{
	padding: 30px 130px;
	display: flex;
	gap: 40px;
}
.feature-text{
	width: 50%;
}
.feature-text h3{
	border-left: 4px solid #ff900e;
	font-size: 40px;
	font-weight: 700;
	padding: 0px 150px 0px 15px;
}
.feature-text p{
	padding: 15px 0px;
}
.feature-desc{
	margin: 15px 70px 15px 0px;
	padding: 15px;
	border-radius: 8px;
	background: #FFFFFF;
	box-shadow: -5px -5px 10px #e8f4ea;
}
.feature-desc h4{
	color: #000000;
}
.feature-desc p{
	color: gray;
	font-size: 14px;
}
.feature-img{
	width:50%;
	position: relative;
}
.feature-img img{
	width: 100%;
	height: 92%;
	
}
.experience{
	position: absolute;
	bottom: 10px;
	left: -70px;
	background: teal;
	color: white;
	padding: 30px;
	border-radius: 8px;
}
.experience h2{
	font-size: 45px;
}
.experience p{
	color: white;
	font-size: 20px;
	text-align: center;
}
.experience:hover{
	background:#bec8d1;
	color: #137a7f;
}
/* fact div style starts from here */
.fact{
	padding: 30px 130px;
	display: flex;
	flex-direction: column;
	gap: 60px;
}
.fact-intro{
	padding: 30px 500px 5px 0px;
}
.fact-intro h3{
	font-size: 35px;
	font-weight: 800;
	padding-bottom: 10px;
}
.fact-details{
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.fact-box{
	border: 2px solid #faa515;
	padding: 40px 30px;
	border-radius: 8px;
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.fact-box img{
	padding-bottom: 10px;
	height:80px;
	width: 70px;
}
/* Fact box animation style starts from here */
@keyframes sliding{
	0%{
		left:-80px;
		top:-30px;
	}
	20%{
		left: 80px;
		top:-30px;
		background:#00b159;
	}
	50%{
		left: 80px;
		top:200px;
		background:#41533b;
	}
	80%{
		left:-80px;
		top:200px;
		background:#604439;
	}
	100%{
		left:-80px;
		top:-30px;
	}
}
.ball{
	height:10px;
	width: 10px;
	border-radius: 50%;
	background: teal;
	position: relative;
	top:-30px;
	left:-80px;
	animation:sliding 5s linear 0.5s infinite normal;
	animation-play-state: running;
}
/* Sponsor div style starts from here */
.sponsor{
	padding: 70px 130px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	text-align: center;
}
.sponsor-text{
	display: flex;
	flex-direction:column;
	gap: 25px;
}
.sponsor-text h3{
	font-size:33px;
	font-weight: 700;
}
.sponsor-text p{
	padding: 0px 270px;
}
.sponsor-brand{
	display: flex;
	gap: 100px;
	align-items: center;	
}
.sponsor-brand img{
	height: 30px;
	filter: grayscale(100%);
}
/* Extra section style starts from here */
.members>h3{
	text-align: center;
	font-size:45px;
	margin: 30px 0px 80px 0px;
}
.team-member{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 30px;
	margin: 30px 120px;
}
.member{
	background: #f2f2f2;
	border-radius: 10px;
	box-shadow: 3px -2px 10px cadetblue;
}
.member-basic img{
	margin: -50px auto 0 auto;
	height:90px;
	width:95px;
	border-radius: 50%;
	border: 5px solid white;
	padding: 15px 0px 0px 0px;
	background: #006666;
}
.member-basic{
	position: relative;
	margin: 5px 20px;
	height: 380px;
}
.member-desc{
	position: absolute;
	top:0;
	left:0;
	display: none;
	padding: 30px 0px;
	margin: 100px 0px;
	transition:5s ease-in;
}
.member-desc h4{
	padding: 15px 0px;
}
.member-desc p{
	padding: 5px;
	color: black;
}
.member-desc img{
	margin: -50px auto 0 auto;
	height:90px;
	width:95px;
	border-radius: 50%;
	border: 5px solid white;
	padding: 15px 0px 0px 0px;
	background: #green;
}
.member-btnn{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 80px;
	
}
.member-btn{
	padding: 10px 20px;
	text-align:center;

}
.fa-check{
	color: green;
}
.hover{
	transition:5s ease-in;
}
.hover:hover > p{
	opacity: 0;
}
.hover:hover .member-desc{
	display: block;
}
/* footer style starts from here */
footer{
	padding: 70px 130px;
}
.footer{
	text-align: center;
	background:#373b3e;
	padding: 30px 0px;
	border-radius: 5px;
	box-shadow: 2px 2px 20px #86cecb;
}
.footer p{
	color: white;
	font-weight: 700;
}
