@media screen and (min-width:587px) and (max-width:992px){
	.hide{
	display:none
}
/*nav style starts from here */
nav{
	padding: 30px 30px;	
}	
/* Brand description style starts from here */
.brand-desc{
	padding: 30px 30px;
}
.brand-desc h1{
	font-size: 40px;
	padding: 20px 50px;
}
.brand-desc p{
	padding: 0px 40px 30px 40px;
	font-size: 18px;
}
.primary-btn{
	padding: 13px 20px;
}
/* Quick link div style starts from here */
.QL-features{
	padding: 30px 50px;
	display: flex;
	gap: 30px;
}	
.features-img{
	gap: 10px;
}
.features-text{
	gap: 20px;
}
.features-text h2{
	font-size: 35px;
}
.Ftext1{
	color: gray;
	font-size: 30px;
}
/* features div style starts from here */
.features-LE{
	padding: 30px 30px;
	gap: 30px;
}
.feature-text{
	width: 50%;
}
.feature-text h3{
	border-left: 4px solid #ff900e;
	font-size: 25px;
	font-weight: 700;
	padding: 0px 50px 0px 10px;
}
.feature-text p{
	font-size:14px;
	padding: 10px 0px;
}
.feature-desc{
	margin: 10px 20px 10px 0px;
	padding: 10px 0px 5px 10px;
}
.feature-desc p{
	font-size: 10px;
}
.feature-img{
	width:50%;
	position: relative;
}
.feature-img img{
	height: 90%;
	width: 100%;
}
.experience{
	position: absolute;
	bottom: 15px;
	left: -30px;
	background: teal;
	color: white;
	padding: 10px 15px;
	border-radius: 8px;
}
.experience h2{
	font-size: 25px;
}
.experience p{
	font-size: 14px;
}
/* fact div style starts from here */
.fact{
	padding: 30px 30px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.fact-intro{
	padding: 30px 300px 5px 0px;
}
.fact-intro h3{
	font-size: 30px;
}
.fact-details{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	column-gap: 40px;
	grid-row-gap: 30px;
	width: 90%;
	justify-items: center;
	padding: 0px 50px ;
}	
.fact-box{
	padding: 10px 15px;
	width:170px;
}
/* Fact box animation style starts from here */
@keyframes sliding{
	0%{
		left:-85px;
		top:-5px;
	}
	20%{
		left: 85px;
		top:0px;
	}
	50%{
		left: 85px;
		top:175px;
	}
	70%{
		left:-85px;
		top:175px;
	}
	100%{
		left:-85px;
		top:-5px;
	}
}
/* Sponsor div style starts from here */
.sponsor{
	padding: 70px 30px;
	gap: 40px;
	text-align: center;
}
.sponsor-text{
	display: flex;
	flex-direction:column;
	gap: 25px;
}
.sponsor-text h3{
	font-size:30px;
	font-weight: 700;
}
.sponsor-text p{
	padding: 0px 70px;
}
.sponsor-brand{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	column-gap: 100px;
	grid-row-gap:30px;
	margin: 20px 0px;	
}
/* Extra section style starts from here */
.team-member{
	grid-template-columns: repeat(2,1fr);
	gap: 40px;
	margin: 20px 20px;;
}
/* footer style starts from here */
footer{
	padding: 50px 0px 0px 0px;
}
.footer{
	text-align: center;
	background:#373b3e;
	padding: 30px 0px;
	border-radius: 5px;
	box-shadow: 2px 2px 20px #86cecb;
}

}